{# app/Resources/views/experiment/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="experiment-index-div">
        <h1>Omics Experiments</h1>
        {{ datatable({
            'js' : {
                'ajax' : path('omics_experiment_datatable')
            }
        }) }}
        <a href="{{ path('omics_experiment_new') }}" class="btn btn-primary btn-lg btn-block">New Experiment</a>
    </div>
{% endblock %}