{# app/Resources/views/sequence_run/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="sequence-index-div">
        <h1>Sequence Runs</h1>
        {{ datatable({
            'js' : {
                'ajax' : path('sequence_run_datatable')
            }
        }) }}
        <a href="{{ path('sequence_run_new') }}" class="btn btn-primary btn-lg btn-block">New Sequence Run</a>
    </div>
{% endblock %}